/* Design based on http://bootsnipp.com/snippets/kW9gA */
/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 20px Verdana, sans-serif;
}

/* Carbon background: http://lea.verou.me/css3patterns/#carbon */
html {
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}


/* Using box shadows to create 3D effects */
#calculator {
	width: 325px;
	height: auto;

	margin: 100px auto;
	padding: 20px 20px 20px 20px;

	background: #dddcea;
	background: linear-gradient(#cdccd9, #a6a5b0);
	border-radius: 10px;
	box-shadow: 0px 12px #6a6a67, 0px 10px 15px rgba(0, 0, 0, 0.33);
}

/* Inset shadow on the display to create indent */
.top .title {
	height: 60px;
	width: 285px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 10px 0px;


	background: linear-gradient(#deddeb, #b2b1bc);
	border-radius: 6px;

	/* Typography */
	font-size: 20px;
	line-height: 40px;
	color: #555555;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the display to create indent */
.top .display {
	height: 40px;
	width: 212px;

	float: right;

	padding: 0 10px;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.buttons, .top {overflow: hidden;}

/* Applying same to the buttons */
.buttons span, .top span.clear {
	float: left;
	position: relative;
	top: 0;

	cursor: pointer;

	width: 66px;
	height: 36px;

	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 7px 11px 0;

	color: #595959;
	line-height: 36px;
	text-align: center;

	/* prevent selection of text inside buttons */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator buttons */
/* style different type of buttons (operators/evaluate/clear) differently */
.buttons span.operator {
	background: #FFF0F5;
	margin-right: 0;
}


/* Some hover effects */
.buttons span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.buttons span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the buttons by removing the box-shadow and moving the buttons down a bit */
.buttons span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.buttons span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}